#back {
    background-color: rgb(80, 207, 250);
    border: #333333;
}

.photo-detail {
    width: 70vh;
}


@media only screen and (max-width: 600px) {
    .item-info{
        flex-wrap: wrap;
    }
    .item img {
        width: auto;
        height: auto;
    }
    
  }