.item {
    margin: 5px;
}

#photo-main{
    
    width: 35vh;
    height: auto;
}

#masDetalles {
    background-color: rgb(80, 207, 250);
    border: #333333;
}

.category {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category:hover::before {
    content: attr(title);
    background-color: #333333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.contenedor:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.contenedor {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    #photo-main {
        width: 25vh;
       
    }
    
  }